<form (submit)="submit()">
  <modal>
    <h3 modal-title>Novo produto</h3>
    <div modal-body>

      <div class="form-group">
        <label for="product-name">Nome</label>
        <input type="text" class="form-control" id="product-name" [(ngModel)]="product.name" name="name" required>
      </div>

      <div class="form-group">
        <label for="product-price">Preço</label>
        <input type="number" class="form-control" id="product-price" [(ngModel)]="product.price" name="price" required>
      </div>

      <div class="form-group">
        <label for="product-description">Descrição</label>
        <textarea cols="5" rows="4" class="form-control" id="product-description" [(ngModel)]="product.description" name="description" required></textarea>
      </div>

      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="product-active" [(ngModel)]="product.active" name="active" required />
        <label for="product-active">Ativo?</label>
      </div>

    </div>
    <div modal-footer>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </modal>
</form>